<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>3カラム+</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- リセットCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="wrap">
    <header class="header">ロゴ画像</header>
    <div class="main-side">
      <div class="item">
        <p><a href="">item1</a></p>
        <p><a href="">item2</a></p>
        <p><a href="">item3</a></p>
        <p><a href="">item4</a></p>
        <p><a href="">item5</a></p>
        <p><a href="">item6</a></p>
        <p><a href="">item7</a></p>
        <p><a href="">item8</a></p>
        <p><a href="">item9</a></p>
        <p><a href="">item10</a></p>
      </div>
      <div class="center">
        <div class="text">
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
        </div>
        <div class="sub">
          <p>サブタイトル</p>
          <p>product1 product2 product3 product4</p>
        </div>
        <div class="sub">
          <p>サブタイトル</p>
          <p>product1 product2 product3 product4</p>
        </div>
      </div>
      <main class="banner">バナー画像</main>
    </div>
    <footer class="footer">copyright (c) 2018 テキストテキストテキストテキスト</footer>
  </div>
</body>
</html>